<html>
<h1>Add Pet</h1>
<div id="insert" style="display: block">
    <form id="addPet">
        <legend><strong>Add Pet</strong></legend>
          <fieldset class="fields">
            <label> Name </label> <input type="text" name="name">
            <label> Species </label> <input type="text" name="species">
            <label> Age </label> <input type="number" name="age">
            <label> Gender </label> <input type="text" name="gender">
          </fieldset>
          <input class="btn" type="submit" id="addPetBtn" value="Add Pet">
          <input class="btn" type="button" value="cancel">
	</form> 
</div>

</html>