{# Citation for add_pet.js
 --Date: 2/13/24
 --Adapted from: Professor's planets.html file
 --Source URL: https://canvas.oregonstate.edu/courses/1946034/assignments/9456216?module_item_id=23809330
 #}

<html>
<h1>Add Pet</h1>
<div id="insert" style="display: block">
    <form id="addPet">
        <legend><strong>Add Pet</strong></legend>
          <fieldset class="fields">
            <label> Name </label> <input type="text" name="name">
            <label> Species </label> <input type="text" name="species">
            <label> Age </label> <input type="number" name="age" min="0">
            <label> Gender </label>
            <select name="gender">
              <option>--Select--</option>
              <option value="M">M</option>
              <option value="F">F</option>
            </select>
          </fieldset>
          <input class="btn" type="submit" id="addPetBtn" value="Add Pet">
          <input class="btn" type="button" value="cancel">
	</form> 
</div>

</html>