{# Citation for add_pet.js
 --Date: 2/13/24
 --Adapted from: Professor's planets.html file
 --Source URL: https://canvas.oregonstate.edu/courses/1946034/assignments/9456216?module_item_id=23809330
 #}

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<html>
{% include 'navbar.html' %}
<h1>Add Pet</h1>
<div id="insert" style="display: block">
    <form id="addPet">
        <legend><strong>Add Pet</strong></legend>
          <fieldset class="fields">
            <label> name: </label> <input type="text" name="name">
            <label> breed: </label> <input type="text" name="breed">
            <label> age: </label> <input type="number" name="age" min="0">
            <label> gender: </label> <input type="text" name="gender">
            <label for="id_vet">vet (ID):</label>
           <select id="id_vet" name="id_vet">
              <option value="1">Dr. Johnson (1)</option>
              <option value="2">Dr. Smith (2)</option>
              <option value="3">Dr. Brown (3)</option>
              <option value="4">Dr. Lee (4)</option>
              <option value="5">Dr. Chang (5)</option>
          </select>
          <label for="id_owner">owner (ID):</label>
            <select id="id_owner" name="id_owner">
                <option value="1">John Doe (1)</option>
                <option value="2">Jane Doe (2)</option>
                <option value="3">Jack Doe (3)</option>
                <option value="4">Sarah Lee (4)</option>
                <option value="5">Mike Chen (5)</option>
            </select>
          </fieldset>
          <input class="btn" type="submit" id="addPetBtn" value="Add Pet">
          <input class="btn" type="button" value="cancel">
	</form> 
</div>

</html>