{# Citation for del_pet.js
 --Date: 2/13/24
 --Adapted from: Professor's planets.html file
 --Source URL: https://canvas.oregonstate.edu/courses/1946034/assignments/9456216?module_item_id=23809330
 #}

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<html>
{% include 'navbar.html' %}
<h1>Delete Pet</h1>
<body>
<div id="delete">
  <form id="deletePet">
      <legend><strong>Delete Pet</strong></legend>
          <fieldset class="fields">
          Please enter the name of the pet to be deleted from the database
          <label> Name: </label> <input type="text" value="Hunter" name="pname"> 
    </fieldset>
    <input class="btn" type="submit" id="DeletePet" value="Delete Pet">
          <input class="btn" type="button" value="cancel" >
  </form> 
</div><!-- delete -->
</body>
</html>