{# Citation for del_pet.js
 --Date: 2/13/24
 --Adapted from: Professor's planets.html file
 --Source URL: https://canvas.oregonstate.edu/courses/1946034/assignments/9456216?module_item_id=23809330
 #}

<html>
<h1>Delete Pet</h1>
<body>
<div id="delete" style="display: block">
  <form id="deletePet">
      <legend><strong>Delete Pet</strong></legend>
          <fieldset class="fields">
          <p>Are you sure you wish to delete the following?</p>
          <label>ID:</label> 1
          <label> Name: </label> Hunter
            
    </fieldset>
    <input class="btn" type="submit" id="DeletePet" value="Delete Pet">
          <input class="btn" type="button" value="cancel" >
  </form> 
</div><!-- delete -->
</body>
</html>