
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

{# Citation for meds.js
 --Date: 2/13/24
 --Adapted from: Flask Starter App Guide
 --Source URL: https://github.com/osu-cs340-ecampus/flask-starter-app #}


{% include 'navbar.html' %}
<h1>Browse Pets</h1>

<body id="addDelLink">
    <table border="1" cellpadding="5">
      <thead>
        <tr>
            <th>id_pet</th>
            <th>name</th>
            <th>breed</th>
            <th>age</th>
            <th>gender</th>
            <th>vet's name</th>
            <th>owner's name</th>
            <th></th>
            <th></th>
        </tr>
      </thead>

      
      <tbody>
        <tr>
            <td>1</td>
            <td>Fido</td>
            <td>Labrador Retriever</td>
            <td>5</td>
            <td>M</td>
            <td>Dr. Johnson</td>
            <td>John Doe</td>
            <td> <a href="/edit_pet" class="btn edit-btn">Edit</a> </td>
            <td><button class="btn">Delete</button></td>
        </tr>
        <tr>
            <td>2</td>
            <td>Whiskers</td>
            <td>Siamese</td>
            <td>3</td>
            <td>F</td>
            <td>Dr. Smith</td>
            <td>Jane Doe</td>
            <td> <a href="/edit_pet" class="btn edit-btn">Edit</a> </td>
            <td><button class="btn">Delete</button></td>
        </tr>
        <tr>
            <td>3</td>
            <td>Rex</td>
            <td>German Shepherd</td>
            <td>7</td>
            <td>M</td>
            <td>Dr. Smith</td>
            <td>Jane Doe</td>
            <td> <a href="/edit_pet" class="btn edit-btn">Edit</a> </td>
            <td><button class="btn">Delete</button></td>
        </tr>
      </tbody>
    </table>

<a href="/add_pet" class="navPage">Add Pet</a>
</body>

<p>&nbsp;</p>
<div id="update">
  <form id="updatePet">
      <legend><strong>Update Pet</strong></legend>
          <fieldset class="fields">
          <p>Please enter the following information of the pet to be updated</p>
           <label for="id_pet">Select a pet (ID):</label>
           <select id="id_pet" name="id_pet">
              <option value="1">Fido (1)</option>
              <option value="2">Whiskers (2)</option>
              <option value="3">Rex (3)</option>
          </select>
          <label> name: </label> <input type="text" value="Mia" name="name">
          <label> breed: </label> <input type="text" value="Domestic" name="breed">
          <label> age: </label> <input type="number" value="2" min="0" name="age" size="3">
          <label> gender: </label> <input type="text" value="F" name="gender" size="1">
          <label for="id_vet">vet (ID):</label>
           <select id="id_vet" name="id_vet">
              <option value="1">Dr. Johnson (1)</option>
              <option value="2">Dr. Smith (2)</option>
              <option value="3">Dr. Brown (3)</option>
              <option value="4">Dr. Lee (4)</option>
              <option value="5">Dr. Chang (5)</option>
          </select>
          <label for="id_owner">owner (ID):</label>
            <select id="id_owner" name="id_owner">
                <option value="1">John Doe (1)</option>
                <option value="2">Jane Doe (2)</option>
                <option value="3">Jack Doe (3)</option>
                <option value="4">Sarah Lee (4)</option>
                <option value="5">Mike Chen (5)</option>
            </select>
    </fieldset>
    <input class="btn" type="submit" id="UpdatePet" value="Update Pet">
          <input class="btn" type="button" value="Cancel" >
  </form> 
</div>
<p>&nbsp;</p>




{# THIS CODE USES THE DATABASE
 
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">


{% include 'navbar.html' %}
<h1>Browse Pet</h1>

<body id="addDelLink">
    <table border="1" cellpadding="5">
      <thead>
        <tr>
            <!-- Iterate through each key in the first entry to get the
            column name -->
            {% for key in Pets[0].keys() %}

            <!-- Create a <th> tag with the key inside of it, this will be
            our header row -->
            <th>{{ key }}</th>

            <!-- End of this for loop -->
            {% endfor %}
        </tr>
      </thead>

      <tbody>
      <!-- Now, iterate through every pet in Pets -->
      {% for pet in Pets %}
        <tr>
            <!-- Then iterate through every key in the current medication dictionary -->
            {% for key in pet.keys() %}

            <!-- Create a <td> element with the value of that key in it -->
            <td>{{pet[key]}}</td>
            {% endfor %}

            <td><button class="btn">Delete</button></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

<a href="/add_pet" class="navPage">Add Pet</a>

</body>

<p>&nbsp;</p>
<div id="update">
  <form id="updatePet">
      <legend><strong>Update Pet</strong></legend>
          <fieldset class="fields">
          <p>Please enter the following information of the pet to be updated</p>
          <label> Name: </label> <input type="text" value="Mia" name="name" size="45">
          <label> Breed: </label> <input type="text" value="Domestic" name="breed" size="45">
          <label> Age: </label> <input type="number" value="2" min="0" name="age" size="45">
          <label> Gender: </label> <input type="text" value="F" name="gender" size="45">
    </fieldset>
    <input class="btn" type="submit" id="UpdatePet" value="Update Pet">
          <input class="btn" type="button" value="Cancel" >
  </form> 
</div><!-- update -->
<p>&nbsp;</p>
#}