{# Citation for pets
--Date: 2/13/24
--Adapted from: Flask Starter App Guide
--Source URL: https://github.com/osu-cs340-ecampus/flask-starter-app
-- Except if-statement for NULL values are our own #}
{% extends 'layouts.html'%}
{% block content %}


<h1>Browse Pets</h1>

<div class="table-container">
  <form action="/pets" method="get" class="search-form">
    <input type="text" name="search" placeholder="Search Pets By Name">
    <button class="btn btn-primary btn-sm" id="searchBtn" type="submit">Search</button>
  </form>
  <table class="table table-sm table-hover" id="table">
    <thead>
      <tr>
        {% if Pets %}
        {% for key in Pets[0].keys() %}
        <th>
          {{ key_dict[key] if key in key_dict else key }}
        </th>
        {% endfor %}
      </tr>
    </thead>

    <tbody class="table-group-divider">
      {% for pet in Pets %}
      <tr>
        {% for key in pet.keys() %}
        <td>
          {# {% if key == 'vet_name' and pet[key] == None %}
          NULL
          {% else %}
          {{ pet[key] }}
          {% endif %} #}
          {{pet[key]}}
        </td>
        {% endfor %}

        <td> <a href="/edit_pet/{{ pet['id_pet']}}" type="button" class="btn btn-outline-success">Edit</a> </td>
        <td> <a href="/del_pet/{{ pet['id_pet']}}" type="button" class="btn btn-outline-dark">Delete</button></td>
      </tr>
      {% endfor %}

    </tbody>
    {% elif no_results%}
    There are no results with searched pet name.
    <a href="/owners" class="btn btn-outline-dark">Go Back</a>
    {% else %}
    There are no pets currently.
    {% endif %}
  </table>
  <a href="/add_pet" type="button" class="btn btn-outline-primary" id="icon">
    <ion-icon class="icon" name="add-outline"></ion-icon>Add Pet
  </a>
</div>

{% endblock %}