{# Citation for add_med.js
--Date: 2/13/24
--Adapted from: Professor's planets.html file
--Source URL: https://canvas.oregonstate.edu/courses/1946034/assignments/9456216?module_item_id=23809330
#}

{% extends 'layouts.html'%}
{% block content %}

<html>
<h1>Add Medication</h1>
<div id="insert" style="display: block">
  <form id="addMedication" action="/add_med" method="POST">
    <legend><strong>Add Medication</strong></legend>
    <fieldset class="fields">
      <p>Please enter the medication information to be added</p>
      <label> name: </label> <input type="text" name="name">
      <label> cost: </label> <input type="number" min="0" step="0.01" name="cost">
    </fieldset>
    <input class="btn" type="submit" id="addMedBtn" value="Add Medication">
  </form>
  <td><a href="/meds" class="btn">Go Back</a></td>
</div>

{% endblock %}

</html>