{# Citation for add_med.js
--Date: 2/13/24
--Adapted from: Professor's planets.html file
--Source URL: https://canvas.oregonstate.edu/courses/1946034/assignments/9456216?module_item_id=23809330
#}

{% extends 'layouts.html'%}
{% block content %}

<html>
<h1>Add Medication</h1>
<div class="update-container" id="insert">
  <form id="addMedication" action="/add_med" method="POST">
    <legend><strong>Add Medication</strong></legend>
    <fieldset class="fields">
      <p>Please enter the medication information to be added</p>
      <label> name: </label> <input type="text" id="name" name="name">
      <label> cost: </label> <input type="number" min="0" step="0.01" id="cost" name="cost">
    </fieldset>
    <div class="button-container">
      <span><a href="/meds" class="btn btn-outline-dark">Go Back</a></span>
      <button class="btn btn-outline-primary" type="submit" id="icon">
        <ion-icon id="add_button" name="add-outline"></ion-icon>
        Add Medication
      </button>
    </div>
  </form>
</div>

{% endblock %}

</html>