{# Citation for del_med.js
 --Date: 2/13/24
 --Adapted from: Professor's planets.html file
 --Source URL: https://canvas.oregonstate.edu/courses/1946034/assignments/9456216?module_item_id=23809330
 #}

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<html>
{% include 'navbar.html' %}
<h1>Delete Medication</h1>
<body>
<div id="delete">
  <form id="deleteMedication">
      <legend><strong>Delete Medication</strong></legend>
          <fieldset class="fields">
          <p>Please enter the exact name of the medication to be deleted</p>
          <label> Name: </lable> <input type="text" value="Mirtazapine 15mg, 30 tablets" fname="mname">       
    </fieldset>
    <input class="btn" type="submit" id="DeleteMed" value="Delete Medication">
          <input class="btn" type="button" value="cancel" >
  </form> 
</div><!-- delete -->
</body>
</html>