{# Citation for meds
--Date: 2/13/24
--Adapted from: Flask Starter App Guide - jinja templating layout, Adapted from Professor Curry's planets.html file -
hardcode (omitted)
--Source URL: https://canvas.oregonstate.edu/courses/1946034/assignments/9456216?module_item_id=23809330,
https://github.com/osu-cs340-ecampus/flask-starter-app #}

{% extends 'layouts.html'%}
{% block content %}

<div class="outer-container">
  <div class="table-container">
    <h1>Browse Medications</h1>
    <form action="/meds" method="get" class="search-form">
      <input type="text" name="search" placeholder="Search Meds By Name">
      <button class="btn btn-primary btn-sm" id="searchBtn" type="submit">Search</button>
    </form>
    <table class="table table-sm table-hover">
      <thead>
        <tr>
          <!-- If there are any medications then iterate through each key in the first entry to get the
            column name -->
          {% if Medications %}
          {% for key in Medications[0].keys() %}
          <!-- Create a <th> tag with the key inside of it, this will be
            our header row -->
          <th>
            {{ key_dict[key] if key in key_dict else key }}
          </th>
          <!-- End of this for loop -->
          {% endfor %}
        </tr>
      </thead>

      <tbody>
        {% for med in Medications %}
        <tr>
          <!-- Then iterate through every key in the current veterinarian dictionary -->
          {% for key in med.keys() %}
          <!-- Create a <td> element with the value of that key in it -->
          <td>{{med[key]}}</td>
          {% endfor %}
          <td><a href="/edit_med/{{ med['id_medication'] }}" type="button" class="btn btn-outline-success">Edit</a></td>
          <td><a href="/del_med/{{ med['id_medication'] }}" type="button" class="btn btn-outline-dark">Delete</a></td>
        </tr>
        <!-- End of this for loop -->
        {% endfor %}
      </tbody>
      <!-- This section is displayed when no matching results are found-->
      {% elif no_results%}
      There are no results with searched medication name.
      <a href="/meds" class="btn btn-outline-dark">Go Back</a>
      {% else %}
      There are no medications currently.
      {% endif %}
    </table>
    <a href="/add_med" type="button" class="btn btn-outline-primary" id="icon">
      <ion-icon class="icon" name="add-outline"></ion-icon>Add Medication
    </a>
  </div>
</div>

{% endblock %}