{# Citation for meds.js
--Date: 2/13/24
--Adapted from: Flask Starter App Guide, Professor's planets.html file
--Source URL: https://canvas.oregonstate.edu/courses/1946034/assignments/9456216?module_item_id=23809330,
https://github.com/osu-cs340-ecampus/flask-starter-app #}

{% extends 'layouts.html'%}
{% block content %}

<h1>Browse Medications</h1>

<div class="table-container">
  <table class="table table-sm table-hover">
    <thead>
      <tr>
        <!-- Iterate through each key in the first entry to get the
            column name -->
        {% if Medications %}
        {% for key in Medications[0].keys() %}
        <!-- Create a <th> tag with the key inside of it, this will be
            our header row -->
        <th>
          {{ key_dict[key] if key in key_dict else key }}
        </th>
        <!-- End of this for loop -->
        {% endfor %}
      </tr>
    </thead>

    <tbody>
      {% for med in Medications %}
      <tr>
        <!-- Then iterate through every key in the current veterinarian dictionary -->
        {% for key in med.keys() %}
        <!-- Create a <td> element with the value of that key in it -->
        <td>{{med[key]}}</td>
        {% endfor %}
        <td><a href="/edit_med/{{ med['id_medication'] }}" type="button" class="btn btn-outline-success">Edit</a></td>
        <td><a href="/del_med/{{ med['id_medication'] }}" type="button" class="btn btn-outline-dark">Delete</a></td>

      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  There are no medications currently.
  {% endif %}


  <a href="/add_med" type="button" class="btn btn-outline-primary" id="icon">
    <ion-icon class="icon" name="add-outline"></ion-icon>Add Medication
  </a>
</div>


{# OMITTING THIS UPDATE
<p>&nbsp;</p>
<div id="update" style="display: block">
  <form id="updateMedication">
    <legend><strong>Update Medication</strong></legend>
    <fieldset class="fields">
      <p>Please enter the following information of the medication to be updated</p>
      <label for="id_med">Select a medication (ID):</label>
      <select id="id_med" name="id_med">
        <option value="1">Mirtazapine 15mg, 30 tablets (1)</option>
        <option value="2">Amoxicillin 250mg, 30 capsules (2)</option>
        <option value="3">Dorzolamide HCL Ophthalmic Solution 2%, 10mL (3)</option>
        <option value="4">Piroxicam 7mg, 30 capsules (4)</option>
        <option value="5">Furosemide 12.5mg, 30 tablets (5)</option>
      </select>
      <label> Name: </label> <input type="text" value="Mirtazapine 15mg, 30 tablets" name="name" size="45">
      <label> Cost: </label> <input type="number" name="cost" step="0.01" value="4.50">
    </fieldset>
    <input class="btn" type="submit" id="UpdateSaveMed" value="Update Medication">
    <input class="btn" type="button" value="Cancel">
  </form>
</div><!-- update -->
<p>&nbsp;</p>

OMITTING THIS UPDATE #}

{% endblock %}