{# Citation for add_prescription.js
--Date: 2/13/24
--Adapted from: Professor's planets.html file
--Source URL: https://canvas.oregonstate.edu/courses/1946034/assignments/9456216?module_item_id=23809330
#}

{% extends 'layouts.html'%}
{% block content %}

<html>

<h1>Add Prescription</h1>

<div id="insert">
    <form id="addPrescription" action ="/add_prescription" method="POST">
        <legend><strong>Add Prescription</strong></legend>
        <fieldset class="fields">
            <label> Order Date: </label> <input type="datetime-local" name="order_date">
            <label>Prescription Cost:</label>
            <input type="number" step="0.01" name="prescription_cost">
            <label> Was Picked Up: </label>
            <select name="picked_up">
                <option value="">--Select--</option>
                <option value="1">Yes</option>
                <option value="0">No</option>
            </select>
            <p>Please select the pet whose assigned to this prescription:</p>
      <select class="form-control" id="pet_select" name="pet_select">
        {% for pet in Pet_Dropdown %}
            {% if pet == Pet_Dropdown[0] %}
                <option value="{{ pet['id_pet'] }}" selected>{{ pet['pet_name_and_id'] }}</option>
            {% else %}
                <option value="{{ pet['id_pet'] }}">{{ pet['pet_name_and_id'] }}</option>
            {% endif %}
        {% endfor %} 
      </select>


        </fieldset>
        <input class="btn" type="submit" id="addPrescriptionBtn" value="Add Prescription">
    </form>
</div>
<td><a href="/prescriptions" class="btn">Go Back</a></td>

</html>

{% endblock %}