{% extends 'layouts.html'%}
{% block content %}




<h1>Update Prescription</h1>

<body>
    <div class="update-container">
        <div class="edit-container" id="update">
            <table>
                <tr>
                    <th>Pet:</th>
                    <td>{{ current_pet_results[0].pet_name }}</td>
                </tr>
                <tr>
                    <th>Order Date:</th>
                    <td>{{ results[0].order_date }}</td>
                </tr>
                <tr>
                    <th>Prescription Cost:</th>
                    <td>{{ results[0].prescription_cost }}</td>
                </tr>
                <tr>
                    <th>Was Picked Up:</th>
                    <td>{{ "Yes" if results[0].was_picked_up == 1 else "No" }}</td>
                </tr>
            </table>
        </div>

        <form class="updateForm" id="modPrescription" method="POST"
            action="/edit_prescription/{{results[0].id_prescription}}">
            <legend><strong>Update Prescription</strong></legend>
            <fieldset class="fields">
                <input type="hidden" value="{{results[0].id_prescription}}" class="form-control" id="presID"
                    name="presID" required>

                <p>Please enter the following information of the prescription to be updated:</p>
                <p>Please select the pet whose assigned to this prescription:</p>
                <select class="form-control" id="pet_select" name="pet_select">
                    {% for pet in Pet_Dropdown %}
                    {# {% if pet['id_pet'] == results[0]['id_pet'] %} #}
                    {% if pet['order_date'] == results[0].order_date %}
                    <option value="{{ pet['id_pet'] }}" selected>{{ pet['pet_name_and_id'] }} {{ pet['order_date']
                        }}
                    </option>
                    {% else %}
                    <option value="{{ pet['id_pet'] }}">{{ pet['pet_name_and_id'] }} {{ pet['order_date'] }}
                    </option>
                    {% endif %}
                    {% endfor %}
                </select>
                <label> Order Date: </label>
                <input type="datetime-local" value="{{ results[0].order_date }}" class="form-control" id="Order Date"
                    name="order_date">
                <label for="was_picked_up">Was Picked Up:</label>
                <select id="Was Picked Up" name="was_picked_up">
                    <option value="1" {% if results[0].was_picked_up==1 %}selected{% endif %}>Yes</option>
                    <option value="0" {% if results[0].was_picked_up==0 %}selected{% endif %}>No</option>
                </select>

                </select>

            </fieldset>
            <div class="button-container">
                <input class="btn btn-outline-primary" type="submit" name="Edit_Prescription"
                    value="Update Prescription">
                <span><a href="/prescriptions" type="button" class="btn btn-outline-dark">Go Back</a></span>
            </div>
        </form>
    </div>
</body>

</html>

{% endblock %}