{% extends 'layouts.html'%}
{% block content %}




<h1>Update Prescription</h1>

<body>
    <div id="update" style="display: block">
        <h2>Current Editing:</h2>
        <div style="float: left;">
            <table>
                <tr>
                    <th>pet:</th>
                    <td>{{ current_pet_results[0].pet_name }}</td>
                </tr>
                <tr>
                    <th>order_date:</th>
                    <td>{{ results[0].order_date }}</td>
                </tr>
                <tr>
                    <th>prescription_cost:</th>
                    <td>{{ results[0].prescription_cost }}</td>
                </tr>
                <tr>
                    <th>was_picked_up:</th>
                    <td>{{ "Yes" if results[0].was_picked_up == 1 else "No" }}</td>
                </tr>
                
            </table>
        </div>
        <br style="clear: left;">
        <br>

        <form id="updatePrescription" method="POST" action="/edit_prescription/{{results[0].id_prescription}}">
            <legend><strong>Update Prescription</strong></legend>
            <fieldset class="fields">
                <input type="hidden" value="{{results[0].id_prescription}}" class="form-control" id="presID" name="presID"
                    required>

                <p>Please enter the following information of the prescription to be updated</p>
                <p>Please select the pet whose assigned to this prescription</p>
                    <select class="form-control" id="pet_select" name="pet_select">
                        {% for pet in Pet_Dropdown %}
                            {% if pet['id_pet'] == results[0]['id_pet'] %}
                                <option value="{{ pet['id_pet'] }}" selected>{{ pet['pet_name_and_id'] }} {{ pet['order_date'] }}</option>
                            {% else %}
                                <option value="{{ pet['id_pet'] }}">{{ pet['pet_name_and_id'] }} {{ pet['order_date'] }}</option>
                            {% endif %}
                        {% endfor %} 
                <label> order_date: </label> <input type="datetime-local" value="{{ results[0].order_date }}" class="form-control" id="order_date"
                    name="order_date">
                <label> prescription_cost: </label> <input type="text" value="{{ results[0].prescription_cost }}" class="form-control"
                    id="prescription_cost" name="prescription_cost">
                    <label for="was_picked_up">Was Picked Up:</label>
                    <select id="was_picked_up" name="was_picked_up">
                        <option value="1" {% if results[0].was_picked_up == 1 %}selected{% endif %}>Yes</option>
                        <option value="0" {% if results[0].was_picked_up == 0 %}selected{% endif %}>No</option>
                    </select>
                    
                    </select>

            </fieldset>
            <input class="btn" type="submit" name="Edit_Prescription" value="Update Prescription">

        </form>

        <td><a href="/prescriptions" class="btn">Go Back</a></td>
    </div><!-- update -->
</body>

</html>

{% endblock %}