{# Citation for prescriptions.js
--Date: 2/13/24
--Adapted from: Flask Starter App Guide
--Source URL: https://github.com/osu-cs340-ecampus/flask-starter-app #}

{% extends 'layouts.html'%}
{% block content %}

<!-- will implement 'includes' templates after CRUD -->

<h1>Browse Prescriptions</h1>

<div class="table-container">
    <table class="table table-sm table-hover" id="table">
        <p>*Please first add Prescription before entering a prescribed medication into the "PrescriptionMedications"
            table, and the Prescription Cost
            will be automatically calculated.</p>
        <thead>
            <tr>
                {% if Prescriptions %}
                {% for key in Prescriptions[0].keys() %}
                <th>
                    {{ key_dict[key] if key in key_dict else key }}
                </th>
                {% endfor %}
            </tr>
        </thead>

        <tbody>
            {% for prescription in Prescriptions %}
            <tr>
                {% for key in prescription.keys() %}
                <td>{{prescription[key]}}</td>
                {% endfor %}

                <td> <a href="/edit_prescription/{{ prescription['id_prescription']}}" type="button"
                        class="btn btn-outline-success">Edit</a> </td>
                <td> <a href="/del_prescription/{{ prescription['id_prescription']}}" type="button"
                        class="btn btn-outline-dark">Delete</a></td>
            </tr>
            {% endfor %}


        </tbody>
    </table>
    {% else %}
    There are no prescriptions currently.
    {% endif %}


    <a href="/add_prescription" type="button" class="btn btn-outline-primary" id="icon">
        <ion-icon class="icon" name="add-outline"></ion-icon>Add Prescription
    </a>

</div>

{% endblock %}