{# Citation for prescriptions.js
--Date: 2/13/24
--Adapted from: Flask Starter App Guide
--Source URL: https://github.com/osu-cs340-ecampus/flask-starter-app #}

{% extends 'layouts.html'%}
{% block content %}

<!-- will implement 'includes' templates after CRUD -->

<h1>Browse Prescriptions</h1>

<div class="table-container">
    <table class="table table-sm table-hover" id="table">
        <thead>
            <tr>
                {% for key in Prescriptions[0].keys() %}
                <th>
                    {{ key }}
                </th>
                {% endfor %}
            </tr>
        </thead>

        <tbody class="table-group-divider">
            {% for prescription in Prescriptions %}
            <tr>
                {% for key in prescription.keys() %}
                <td>{{prescription[key]}}</td>
                {% endfor %}

                <td> <a href="/edit_prescription/{{ prescription['id_prescription']}}" type="button"
                        class="btn btn-outline-success">Edit</a> </td>
                <td> <a href="/del_prescription/{{ prescription['id_prescription']}}" type="button"
                        class="btn btn-outline-dark">Delete</button></td>
            </tr>
            {% endfor %}

        </tbody>
    </table>

    <a href="/add_prescription" class="navPage">Add Prescription</a>
</div>

{% endblock %}