{# Citation for prescriptions.js
 --Date: 2/13/24
 --Adapted from: Flask Starter App Guide
 --Source URL: https://github.com/osu-cs340-ecampus/flask-starter-app #}

<h1>Browse Prescriptions</h1>
  {% include 'navbar.html' %}

  <table>
    <table border="1" cellpadding="5">
    <thead>
    <tr>
        <!-- Iterate through each key in the first entry to get the
        column name -->
        {% for key in Prescriptions[0].keys() %}

        <!-- Create a <th> tag with the key inside of it, this will be
        our header row -->
        <th>{{ key }}</th>

        <!-- End of this for loop -->
        {% endfor %}
    </tr>
    <tbody>

    <!-- Now, iterate through every prescription in Prescriptions -->
    {% for prescription in Prescriptions %}
    <tr>
        <!-- Then iterate through every key in the current medication dictionary -->
        {% for key in prescription.keys() %}

        <!-- Create a <td> element with the value of that key in it -->
        <td>{{prescription[key]}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    </table>

<a href="/add_prescription">Add Prescription</a>
<a href="/del_prescription">Delete Prescription</a>