<html>
<h1>Add Veterinarian</h1>
<div id="insert" style="display: block">
    <form id="addVet">
        <legend><strong>Add Veterinarian</strong></legend>
          <fieldset class="fields">
            <label> First Name </label> <input type="text" name="Fname">
            <label> Last Name </label> <input type="text" name="Lname">
            <label> Clinic </label> <input type="text" name="clinic">
            <label> Email </label> <input type="email" name="email">
            <label> No. of Patients </label> <input type="number" min="0" name="no_of_patients">
          </fieldset>
          <input class="btn" type="submit" id="addVetBtn" value="Add a Veterinarian">
          <input class="btn" type="button" value="cancel">
	</form> 
</div>

</html>