{# Citation for add_vet.js
 --Date: 2/13/24
 --Adapted from: Professor's planets.html file
 --Source URL: https://canvas.oregonstate.edu/courses/1946034/assignments/9456216?module_item_id=23809330
 #}

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<html>
{% include 'navbar.html' %}
<h1>Add Veterinarian</h1>
<div id="insert" style="display: block">
    <form id="addVet">
        <legend><strong>Add Veterinarian</strong></legend>
          <fieldset class="fields">
            <label> name: </label> <input type="text" name="name">
            <label> clinic: </label> <input type="text" name="clinic">
            <label> email: </label> <input type="email" name="email">
            <label> no_of_patients: </label> <input type="number" min="0" name="no_of_patients">
          </fieldset>
          <input class="btn" type="submit" id="addVetBtn" value="Add a Veterinarian">
          <input class="btn" type="button" value="cancel">
	</form> 
</div>

</html>