{% extends 'layouts.html'%}
{% block content %}

<html>
<h1>Add Veterinarian</h1>
<div class="update-container" id="insert">
  <form id="modVet" action="/add_vet" method="POST">
    <legend><strong>Add Veterinarian</strong></legend>
    <fieldset class="fields">
      <p>Please enter the veterinarian information to be added:</p>
      <label> Name: </label> <input type="text" id="Name" name="name">
      <label> Clinic: </label> <input type="text" id="Clinic" name="clinic">
      <label> Email: </label> <input type="email" id="Email" name="email">
    </fieldset>
    <div class="button-container">
      <span><a href="/vets" class="btn btn-outline-dark">Go Back</a></span>
      <button class="btn btn-outline-primary" type="submit" id="icon">
        <ion-icon id="add_button" name="add-outline"></ion-icon>
        Add Veterinarian
      </button>
    </div>
  </form>
</div>

{% endblock %}

</html>