{# Citation for del_vet.js
 --Date: 2/13/24
 --Adapted from: Professor's planets.html file
 --Source URL: https://canvas.oregonstate.edu/courses/1946034/assignments/9456216?module_item_id=23809330
 #}

<html>
<h1>Delete Veterinarian</h1>
<body>
<div id="delete" style="display: block">
  <form id="deleteVet">
      <legend><strong>Delete Veterinarian</strong></legend>
          <fieldset class="fields">
          <p>Are you sure you wish to delete the following?</p>
          <label>ID:</label> 1
            <label> Name </label> Dr. John Doe
            
    </fieldset>
    <input class="btn" type="submit" id="DeleteVet" value="Delete Veterinarian">
          <input class="btn" type="button" value="cancel" >
  </form> 
</div><!-- delete -->
</body>
</html>