{# Citation for edit_vet
Date: 2/27/24
Adapted from: Professor's Developing in Flask Exploration Video
Source URL: https://canvas.oregonstate.edu/courses/1946034/pages/exploration-developing-in-flask?module_item_id=23809337
#}

{% extends 'layouts.html'%}
{% block content %}

<body>
    <div class="update-container">
        <div class="edit-container" id="update">
            <table>
                <tr>
                    <th>Name:</th>
                    <td>{{ results[0].name }}</td>
                </tr>
                <tr>
                    <th>Clinic:</th>
                    <td>{{ results[0].clinic }}</td>
                </tr>
                <tr>
                    <th>Email:</th>
                    <td>{{ results[0].email }}</td>
                </tr>
            </table>
        </div>

        <form class="updateForm" id="modVet" method="POST" action="/edit_vet/{{results[0].id_vet}}">
            <legend><strong>Update Veterinarian</strong></legend>
            <fieldset class="fields">
                <input type="hidden" value="{{results[0].id_vet}}" class="form-control" id="vetID" name="vetID"
                    required>
                <p>Please enter the following information of the veterinarian to be updated:</p>
                <label> Name: </label> <input type="text" value="{{ results[0].name}}" class="form-control" id="Name"
                    name="name">
                <label> Clinic: </label> <input type="text" value="{{ results[0].clinic }}" class="form-control"
                    id="Clinic" name="clinic">
                <label> Email: </label> <input type="text" value="{{ results[0].email }}" class="form-control"
                    id="Email" name="email">

            </fieldset>
            <div class="button-container">
                <input class="btn btn-outline-primary" type="submit" name="Edit_Vet" value="Update Veterinarian">
                <span><a href="/vets" type="button" class="btn btn-outline-dark">Go Back</a></span>
            </div>
        </form><!-- update -->

    </div>
</body>

</html>

{% endblock %}