{# Citation for edit_vet
Date: 2/27/24
Adapted from: Professor's Developing in Flask Exploration Video
Source URL: https://canvas.oregonstate.edu/courses/1946034/pages/exploration-developing-in-flask?module_item_id=23809337
#}

{% extends 'layouts.html'%}
{% block content %}

<body>
    <div class="update-container">
        <div class="edit-container" id="update">
            <table>
                <tr>
                    <th>Name:</th>
                    <td>{{ results[0].name }}</td>
                </tr>
                <tr>
                    <th>Clinic:</th>
                    <td>{{ results[0].clinic }}</td>
                </tr>
                <tr>
                    <th>Email:</th>
                    <td>{{ results[0].email }}</td>
                </tr>
                <tr>
                    <th>Number of Patients:</th>
                    <td>{{ results[0].no_of_patients }}</td>
                </tr>
            </table>
            <br style="clear: left;">
            <br>
        </div>

        <form class="updateForm" id="updateVet" method="POST" action="/edit_vet/{{results[0].id_vet}}">
            <legend><strong>Update Veterinarian</strong></legend>
            <fieldset class="fields">
                <input type="hidden" value="{{results[0].id_vet}}" class="form-control" id="vetID" name="vetID"
                    required>
                <p>Please enter the following information of the veterinarian to be updated:</p>
                <label> Name: </label> <input type="text" value="{{ results[0].name}}" class="form-control" id="name"
                    name="name">
                <label> Clinic: </label> <input type="text" value="{{ results[0].clinic }}" class="form-control"
                    id="clinic" name="clinic">
                <label> Email: </label> <input type="text" value="{{ results[0].email }}" class="form-control"
                    id="email" name="email">
                <label> Number of Patients: </label> <input type="number" id="no_of_patients" class="form-control"
                    name="no_of_patients" value="{{ results[0].no_of_patients }}">
            </fieldset>
            <input class="btn btn-outline-primary" type="submit" id="edit_button" name="Edit_Vet"
                value="Update Veterinarian">
        </form><!-- update -->

    </div>
</body>
<a href="/vets" class="btn">Go Back</a>

</html>

{% endblock %}