{# Citation for vets.js
--Date: 2/13/24
--Adapted from: Flask Starter App Guide, Professor's planets.html file
--Source URL: https://canvas.oregonstate.edu/courses/1946034/assignments/9456216?module_item_id=23809330,
https://github.com/osu-cs340-ecampus/flask-starter-app #}

{% extends 'layouts.html'%}
{% block content %}

<h1>Browse Veterinarians</h1>

<div class="table-container">
  <table class="table table-hover">
    <thead>
      <tr>
        {% if Vets %}
        <!-- Iterate through each key in the first entry to get the
            column name -->
        {% for key in Vets[0].keys() %}
        <!-- Create a <th> tag with the key inside of it, this will be
            our header row -->
        <th>
          {{ key_dict[key] if key in key_dict else key }}
        </th>
        <!-- End of this for loop -->
        {% endfor %}
      </tr>
    </thead>

    <tbody>
      {% for veterinarian in Vets %}
      <tr>
        <!-- Then iterate through every key in the current veterinarian dictionary -->
        {% for key in veterinarian.keys() %}
        <!-- Create a <td> element with the value of that key in it -->
        <td>{{veterinarian[key]}}</td>
        {% endfor %}
        <td><a href="/edit_vet/{{ veterinarian['id_vet'] }}" type="button" class="btn btn-outline-success">Edit</a></td>
        <td><a href="/del_vet/{{ veterinarian['id_vet'] }}" type="button" class="btn btn-outline-dark">Delete</a></td>

      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  There are no veterinarians currently.
  {% endif %}

  <a href="/add_vet" type="button" class="btn btn-outline-primary" id="icon">
    <ion-icon class="icon" name="add-outline"></ion-icon>Add Veterinarian
  </a>
</div>

{% endblock %}