{# Citation for vets.js
 --Date: 2/13/24
 --Adapted from: Flask Starter App Guide, Professor's planets.html file
 --Source URL: https://canvas.oregonstate.edu/courses/1946034/assignments/9456216?module_item_id=23809330,
 https://github.com/osu-cs340-ecampus/flask-starter-app #}

  <h1>Browse Veterinarians</h1>
  {% include 'navbar.html' %}

  <table>
    <table border="1" cellpadding="5">
    <thead>
    <tr>
        <!-- Iterate through each key in the first entry to get the
        column name -->
        {% for key in Vets[0].keys() %}

        <!-- Create a <th> tag with the key inside of it, this will be
        our header row -->
        <th>{{ key }}</th>

        <!-- End of this for loop -->
        {% endfor %}
    </tr>
    <tbody>

    <!-- Now, iterate through every veterinarian in Vets -->
    {% for veterinarian in Vets %}
    <tr>
        <!-- Then iterate through every key in the current veterinarian dictionary -->
        {% for key in veterinarian.keys() %}

        <!-- Create a <td> element with the value of that key in it -->
        <td>{{veterinarian[key]}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    </table>

<a href="/add_vet">Add a veterinarian</a>
<a href="/del_vet">Delete a veterinarian</a>

<p>&nbsp;</p>
<div id="update" style="display: block">
  <form id="updateVet">
      <legend><strong>Update Veterinarian</strong></legend>
          <fieldset class="fields">
          <label>ID:</label> 1
            <label> name </label> <input type="text" value="Dr. Johnson" name="name">
            <label> clinic </label> <input type="text" value="PetCare Clinic" name="clinic">
            <label> email </label> <input type="text" value="johnson@petcare.com" name="email">
            <label> no_of_patients </label> <input type="number" name="no_of_patients" value="200">
    </fieldset>
    <input class="btn" type="submit" id="UpdateVet" value="Update Veterinarian">
          <input class="btn" type="button" value="cancel" >
  </form> 
</div><!-- update -->
<p>&nbsp;</p>