:root {
    --primary-color: RGB(39, 116, 174)
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

.nav-bar {
    display: flex;
    width: 100%;
    padding: 10px;
    padding-bottom: 15px;
    justify-content: center;
    max-width: 1500px;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, .2);
    margin: 0 auto;
}

.navbar-top {
    display: flex;
}

.nav-bar .nav-container {
    height: 120px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-left: 11%;
}

.nav-bar .navbar-links {
    width: 80%;
    height: 95%;
    margin: auto;
    display: flex;
}

.test {
    display: flex;
    flex-direction: column;
}

.nav-bar .navbar-utility-links {
    list-style-type: none;
    display: flex;
    /*justify-content: flex-end;*/
    flex-direction: row;
    align-items: center;
    width: 71%;
    margin-left: 19%;
    justify-content: space-between;
}

.navbar-utility-links li {
    padding: 10px;
    padding-top: 20px;
    display: inline-block;
    text-transform: uppercase;
}

.navbar-utility-links li:nth-child(1) {
    margin-right: 25px;
}

.navbar-site-links-wrapper {
    display: flex;
    position: relative;
    box-sizing: border-box;
    background-color: white;
    justify-content: center;
    height: 50%;
}

.navbar-site-links {
    display: flex;
    padding-right: 10%;
    position: relative;
    margin: 0;
}

.nav-bar .navbar-site-links li {
    list-style-type: none;
    font-weight: bold;
    font-size: larger;
    padding: 20px;
    color: var(--primary-color);
}

#horizontal-underline {
    position: absolute;
    width: 0%;
    background-color: pink;
    top: 0;
    left: 0;
    height: 5px;
}

#contact.btn {
    border-radius: 0%;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

.table-container {
    margin: auto;
    width: 50%;
    padding: 10px;
}

thead {
    text-align: center;
}

td {
    text-align: center;
}

.test1 {
    display: flex;
    flex-direction: row;
}

#group-name {
    font-size: x-large;
}

@media (max-width: 1479px) {
    .nav-bar {
        height: 95%;
        width: 95%;
    }
}