#index {
    font-size: larger;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    display: flex;
    justify-content: center;
}

li {
    display: inline-block;
}

li a,
.group {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}

#overview {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
}

#addDelLink {
    text-align: center;
}

.navPage {
    color: white;
    background-color: #333333;
    padding: 10px;
    display: inline-block;
    font-size: medium;
    margin-top: 5px;
    text-decoration: none;
}

.navPage:hover {
    background-color: #111111;
}

.table {
    width: 50%;
    margin-bottom: 1rem;
    color: #212529;
}

.btn {
    color: white;
    background-color: #333333;
    padding: 10px;
    display: inline-block;
    font-size: medium;
    margin-top: 5px;
    text-decoration: none;
}

.btn:hover {
    background-color: red;
}

#update,
#delete,
#insert {
    display: block;
}