:root {
    --primary-color: RGB(39, 116, 174)
}

/* variables for colors */

a {
    text-decoration: none;
    color: var(--primary-color);
}

* {
    margin: 0;
    padding: 0;
}

p {
    font-family: "Inter", sans-serif;
}

body {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.page-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
}

.content-wrap {
    padding-bottom: 2.5rem;
    /* Footer height */
}

#cat-dog {
    max-width: 50%;
    height: 50%;
    float: right;
    padding: 5px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    width: 70vw;
    margin: auto;
    flex-wrap: wrap;
    box-shadow: 0px 4px 2px -2px rgba(0, 0, 0, .2);
    min-width: 1300px;
}

#group-name {
    text-align: center;
    font-family: "Inter", sans-serif;
    width: 100%;
    font-size: xx-large;
}

.navbar-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.navbar-utility-links {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: space-between;
}

.navbar-utility-links li {
    list-style-type: none;
}

#contact .btn {
    border-radius: 0;
}

.navbar-site-links li a {
    margin: 0 20px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

.navbar-site-links {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-site-links li {
    list-style-type: none;
}

#icon {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1500px;
}

/*styling icon from ionicons*/

.btn ion-icon {
    margin-right: 5px;
}

#horizontal-underline {
    position: absolute;
    width: 0%;
    background-color: pink;
    top: 0;
    left: 0;
    height: 5px;
}

#contact.btn {
    border-radius: 0%;
}

.sectionDivider {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(241, 240, 240);
}

#section1 {
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    padding: 10px;
}

#overview {
    justify-content: center;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

.table thead tr {
    border-bottom: 2px solid black;
}

.edit-container {
    width: 55%;
    padding: 120px 0;
    justify-content: center;
    display: inline-flex;
}

.button-container {
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
}

#edit_button {
    margin-top: 15px;
}

.backBtn {
    display: flex;
    justify-content: flex-end;
}

.table-container {
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    padding: 10px;
    justify-content: center;
}

thead th {
    cursor: pointer;
}

thead {
    text-align: center;
}

th {
    text-align: center;
}

td {
    text-align: center;
}

.test1 {
    display: flex;
    flex-direction: row;
}

.update-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 1500px;
    margin: auto;
    width: 80%;
}

#group-name {
    font-size: x-large;
}


footer {
    padding: 30px 0;
    width: 100%;
    bottom: 0;
    margin-top: auto;
    min-width: 1500px;
    background-color: var(--primary-color);
}


.row {
    width: 85%;
    margin: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.col,
.quick {
    flex-basis: 25%;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.quick li {
    list-style-type: none;
}

.quick a {
    color: black;
}

.col li {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 80px;
    margin-bottom: 30px;
}

.col a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    border-radius: 50%;
    margin: 10px;
}

.col a i {
    color: var(--primary-color);
    font-size: 2em;
    opacity: 0.9;
}

.col a:hover {
    background-color: var(--primary-color);
    transition: 0.5s;
}

.col a:hover i {
    color: white;
    transition: 0.5s;
}

.copyright {
    text-align: center;
    padding: 0;
    margin: 0;
}