{# Citation for add_owner.js
 --Date: 2/13/24
 --Adapted from: Professor's planets.html file
 --Source URL: https://canvas.oregonstate.edu/courses/1946034/assignments/9456216?module_item_id=23809330
 #}
 
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<html>
{% include 'navbar.html' %}
<h1>Add Owner</h1>
<div id="insert">
    <form id="addOwner">
        <legend><strong>Add Owner</strong></legend>
          <fieldset class="fields">
            <label> Name </label> <input type="text" name="name">
            <label> Address </label> <input type="text" name="address">
            <label> Phone Number </label> <input type="tel" name="number">
          </fieldset>
          <input class="btn" type="submit" id="addOwnerBtn" value="Add an Owner">
          <input class="btn" type="button" value="cancel">
	</form> 
</div>

</html>