{# Citation for add_owner
  --Date: 2/13/24
  --Adapted from: Professor Curry's planets.html file:
  -- General layout, including labels and forms
  --Source URL: https://canvas.oregonstate.edu/courses/1946034/assignments/9456216?module_item_id=23809330
  #}

{% extends 'layouts.html'%}
{% block content %}

<html>

<h1>Add Owner</h1>
<div class="update-container" id="insert">
  <form id="modOwner" action="/add_owner" method="POST">
    <legend><strong>Add Owner</strong></legend>
    <fieldset class="fields">
      <label> Name: </label> <input type="text" id="Name" name="name">
      <label> Address: </label> <input type="text" id="Address" name="address">
      <label for="phone_number">Phone Number:</label>
      <input class="numberInput" type="number" min='0' name="phone_number" id="Phone Number" placeholder="Numbers only">
    </fieldset>
    <div class="button-container">
      <span><a href="/owners" class="btn btn-outline-dark">Go Back</a></span>
      <button class="btn btn-outline-primary" type="submit" id="icon">
        <ion-icon id="add_button" name="add-outline"></ion-icon>
        Add Owner
      </button>
    </div>
  </form>
</div>

</html>

{% endblock %}