<html>
{% include 'navbar.html' %}
<h2>Delete Owner</h2>
<body>
<div id="delete" style="display: block">
  <form id="deleteOwner">
      <legend><strong>Delete Owner</strong></legend>
          <fieldset class="fields">
          <p>Are you sure you wish to delete the following?</p>
          <label>ID:</label> 1
            <label> Name </label> Dr. John Doe
            
    </fieldset>
    <input class="btn" type="submit" id="DeleteOwner" value="Delete Owner">
          <input class="btn" type="button" value="cancel" >
  </form> 
</div><!-- delete -->
</body>
</html>