<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">


{% include 'navbar.html' %}

<h2>Browse Owners</h2>

<body id="addDelLink">
  <table>
    <table border="1" cellpadding="5">
    <thead>
    <tr>
        <!-- Iterate through each key in the first entry to get the
        column name -->
        {% for key in Owners[0].keys() %}

        <!-- Create a <th> tag with the key inside of it, this will be
        our header row -->
        <th>{{ key }}</th>

        <!-- End of this for loop -->
        {% endfor %}
    </tr>
    <tbody>

    <!-- Now, iterate through every owner in Owners -->
    {% for owner in Owners %}
    <tr>
        <!-- Then iterate through every key in the current veterinarian dictionary -->
        {% for key in owner.keys() %}

        <!-- Create a <td> element with the value of that key in it -->
        <td>{{owner[key]}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    </table>

<a href="/add_owner" class="navPage">Add an owner</a>
<a href="/del_owner" class="navPage">Delete an owner</a>
</body>