{# Citation for owners.js
 --Date: 2/13/24
 --Adapted from: Flask Starter App Guide
 --Source URL: https://github.com/osu-cs340-ecampus/flask-starter-app}
 
<h1>Browse Owners</h1>
  {% include 'navbar.html' %}

  <table>
    <table border="1" cellpadding="5">
    <thead>
    <tr>
        <!-- Iterate through each key in the first entry to get the
        column name -->
        {% for key in Owners[0].keys() %}

        <!-- Create a <th> tag with the key inside of it, this will be
        our header row -->
        <th>{{ key }}</th>

        <!-- End of this for loop -->
        {% endfor %}
    </tr>
    <tbody>

    <!-- Now, iterate through every owner in Owners -->
    {% for owner in Owners %}
    <tr>
        <!-- Then iterate through every key in the current veterinarian dictionary -->
        {% for key in owner.keys() %}

        <!-- Create a <td> element with the value of that key in it -->
        <td>{{owner[key]}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    </table>

<a href="/add_owner">Add an owner</a>
<a href="/del_owner">Delete an owner</a>