{# Citation for owners
--Date: 2/13/24
--Adapted from: Flask Starter App Guide
--Source URL: https://github.com/osu-cs340-ecampus/flask-starter-app #}

{% extends 'layouts.html'%}
{% block content %}

<!-- will implement 'includes' templates after CRUD -->

<h1>Browse Owners</h1>

<div class="table-container">
  <form action="/owners" method="get" class="search-form">
    <input type="text" name="search" placeholder="Search Owners By Name">
    <button class="btn btn-primary btn-sm" id="searchBtn" type="submit">Search</button>
  </form>
  <table class="table table-sm table-hover" id="table">
    <thead>
      <tr>
        {% if Owners %}
        {% for key in Owners[0].keys() %}
        <th>
          {{ key_dict[key] if key in key_dict else key }}
        </th>
        {% endfor %}
      </tr>
    </thead>

    <tbody class="table-group-divider">
      {% for owner in Owners %}
      <tr>
        {% for key in owner.keys() %}
        <td>{{owner[key]}}</td>
        {% endfor %}

        <td> <a href="/edit_owner/{{ owner['id_owner'] }}" type="button" class="btn btn-outline-success">Edit</a> </td>
        <td> <a href="/del_owner/{{ owner['id_owner'] }}" button class="btn btn-outline-dark">Delete</button></td>
      </tr>
      {% endfor %}
    </tbody>
    {% elif no_results%}
    There are no results with searched owner name.
    <a href="/owners" class="btn btn-outline-dark">Go Back</a>
    {% else %}
    There are no owners currently.
    {% endif %}
  </table>

  <a href="/add_owner" type="button" class="btn btn-outline-primary" id="icon">
    <ion-icon class="icon" name="add-outline"></ion-icon>Add Owner
  </a>
</div>
{% endblock %}