<html>
    <head>
        <title>CS340 Group12 CatDog Pharmacy</title>
    </head>
    <body>
        <h1>CatDog Pharmacy Database</h1>
        {% include 'navbar.html' %}
        <h1>Welcome to CatDog Pharmacy</h1>
        <p>At CatDog Pet Pharmacy, we work closely with a network of 
        local veterinarians to provide exceptional services to our beloved furry clients. 
        Our pharmacy offers a diverse range of medications to suit the needs of our animals.
        In our system, you'll find comprehensive information, including contact details for veterinarians
        and owners, prescription and medication details, and pet demographics.
        </p>
    </body>
</html>

