{# Citation for add_prescription.js
--Date: 2/13/24
--Adapted from: Professor's planets.html file
--Source URL: https://canvas.oregonstate.edu/courses/1946034/assignments/9456216?module_item_id=23809330
#}


{% extends 'layouts.html'%}
{% block content %}

<html>
<h1>Add Prescription Medication</h1>
<div id="insert" style="display: block">
  <form id="addpm" action="/add_prescriptMeds" method="POST">
    <legend><strong>Add Prescription Medication</strong></legend>
    <fieldset class="fields">
      <p>Please select the prescription and corresponding medication information to be added</p>
      <select class="form-control" id="prescription_select" name="prescription_select">
        {% for prescription in Prescriptions_Dropdown %}
            {% if prescription == Prescriptions_Dropdown[0] %}
                <option value="{{ prescription['id_prescription'] }}" selected>{{ prescription['pet_order_date_prescription_ID'] }}</option>
            {% else %}
                <option value="{{ prescription['id_prescription'] }}">{{ prescription['pet_order_date_prescription_ID'] }}</option>
            {% endif %}
        {% endfor %}
      </select>

      <select class="form-control" id="medication_select" name="medication_select">
        {% for med in Medications_Dropdown %}
            {% if med == Medications_Dropdown[0] %}
                <option value="{{ med['id_medication'] }}" selected>{{ med['med_info'] }}</option>
            {% else %}
                <option value="{{ med['id_medication'] }}">{{ med['med_info'] }}</option>
            {% endif %}
        {% endfor %}
      </select>

      <label> quantity: </label> <input type="number" min="1" name="quantity">

    </fieldset>
    <input class="btn" type="submit" id="addpmBtn" value="Add a Prescription Medication">
    
  </form>
  <td><a href="/intersection" class="btn">Go Back</a></td>
</div>


{% endblock %}