{# Citation for add_prescriptMeds
  --Date: 2/13/24
  --Adapted from: Professor Curry's planets.html file:
  -- General layout, including labels and forms
  --Source URL: https://canvas.oregonstate.edu/courses/1946034/assignments/9456216?module_item_id=23809330
  --Date: 3/11/24
  --Adapted from: Professor Curry's Developing in Flask Exploration Video:
  --Dropdowns
  --Source URL: https://canvas.oregonstate.edu/courses/1946034/pages/exploration-developing-in-flask?module_item_id=23809337
  #}


{% extends 'layouts.html'%}
{% block content %}

<html>
<h1>Add Prescription Medication</h1>
<div class="update-container" id="insert">
  <form id="addpm" action="/add_prescriptMeds" method="POST">
    <legend><strong>Add Prescription Medication</strong></legend>
    <fieldset class="fields">
      <p>Please select the prescription and corresponding medication information to be added:</p>
      <select class="form-control" id="prescription_select" name="prescription_select">
        {#<option value="">--None--</option>#}
        {% for prescription in Prescriptions_Dropdown %}
        {% if prescription == Prescriptions_Dropdown[0] %}
        <option value="{{ prescription['id_prescription'] }}" selected>{{ prescription['pet_order_date_prescription_ID']
          }}</option>
        {% else %}
        <option value="{{ prescription['id_prescription'] }}">{{ prescription['pet_order_date_prescription_ID'] }}
        </option>
        {% endif %}
        {% endfor %}
      </select>

      <select class="form-control" id="medication_select" name="medication_select">
        {% for med in Medications_Dropdown %}
        {% if med == Medications_Dropdown[0] %}
        <option value="{{ med['id_medication'] }}" selected>{{ med['med_info'] }}</option>
        {% else %}
        <option value="{{ med['id_medication'] }}">{{ med['med_info'] }}</option>
        {% endif %}
        {% endfor %}
      </select>

      <label> Quantity: </label> <input type="number" min="1" id="Quantity" name="quantity">

    </fieldset>
    <div class="button-container">
      <span><a href="/prescriptionMedications" class="btn btn-outline-dark">Go Back</a></span>
      <button class="btn btn-outline-primary" type="submit" id="icon">
        <ion-icon id="add_button" name="add-outline"></ion-icon>
        Add prescriptionMedications
      </button>
    </div>
  </form>
</div>


{% endblock %}