{# Citation for prescriptMeds
--Date: 2/13/24
--Copied and Adapted from: Flask Starter App Guide: jinja template iterating through table
--Source URL: https://github.com/osu-cs340-ecampus/flask-starter-app #}

{% extends 'layouts.html'%}
{% block content %}

<!-- will implement 'includes' templates after CRUD -->
<h1>PrescriptionMedications Intersection Table</h1>


<div class="table-container">
  <table class="table table-sm table-hover">
    <thead>
      <tr>
        <!-- Iterate through each key in the first entry to get the
              column name -->
        {% if PrescriptionMedications %}
        {% for key in PrescriptionMedications[0].keys() %}
        <!-- Create a <th> tag with the key inside of it, this will be
              our header row -->
        <th>
          {{ key_dict[key] if key in key_dict else key }}
        </th>
        <!-- End of this for loop -->
        {% endfor %}

      </tr>
    </thead>

    <tbody>
      {% for pm in PrescriptionMedications %}
      <tr>
        <!-- Then iterate through every key in the current veterinarian dictionary -->
        {% for key in pm.keys() %}
        <!-- Create a <td> element with the value of that key in it -->
        <td>
          {{pm[key]}}</td>
        {% endfor %}

      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  There are no PrescriptionMedications currently.
  {% endif %}

  <a href="/add_prescriptMeds" type="button" class="btn btn-outline-primary" id="icon">
    <ion-icon class="icon" name="add-outline"></ion-icon>Add PrescriptionMedications
  </a>

</div>

{% endblock %}